## ✔️ Type of Triangle
### Problem
Write a query identifying the type of each record in the TRIANGLES table using its three side lengths. Output one of the following statements for each record in the table:  
- **Equilateral**: It's a triangle with 3 sides of equal length.
- **Isosceles**: It's a triangle with 2 sides of equal length.
- **Scalene**: It's a triangle with 3 sides of differing lengths.
- **Not A Triangle**: The given values of A, B, and C don't form a triangle.
    
**Input Format**  
The TRIANGLES table is described as follows:  
![image](https://s3.amazonaws.com/hr-challenge-images/12887/1443815629-ac2a843fb7-1.png)  
Each row in the table denotes the lengths of each of a triangle's three sides.  
  
**Sample Input**  
![image](https://s3.amazonaws.com/hr-challenge-images/12887/1443815827-cbfc1ca12b-2.png)  
  
**Explanation**  
Values in the tuple (20, 20, 23) form an Isosceles triangle, because **A=B**.  
Values in the tuple (20, 20, 20) form an Equilateral triangle, because **A=B=C**.  
Values in the tuple (20, 21, 22) form a Scalene triangle, because **A!=B!=C**.  
Values in the tuple (13, 14, 30) cannot form a triangle because the combined value of sides **A** and **B** is not larger than that of side **C**.
### My answer
- case문 사용
- A=B=C면, Equilateral // A=B면, Isosceles // A!=B!=C면 Scalene // A+B이 C보다 작으면 Not A Triangle
-  삼각형 이름만 조회

In [1]:
"""
SELECT CASE WHEN a+b<=c OR a+c<=b OR b+c<=a THEN 'Not A Triangle'
        WHEN a=b AND b=c AND c=a THEN 'Equilateral'
        WHEN (a=b AND b!=c) OR (a=c AND b!=c) OR (b=c AND a!=c) THEN 'Isosceles' 
        ELSE 'Scalene'
    END
FROM triangles
;"""

"\nSELECT CASE WHEN a+b<=c OR a+c<=b OR b+c<=a THEN 'Not A Triangle'\n        WHEN a=b AND b=c AND c=a THEN 'Equilateral'\n        WHEN (a=b AND b!=c) OR (a=c AND b!=c) OR (b=c AND a!=c) THEN 'Isosceles' \n        ELSE 'Scalene'\n    END\nFROM triangles\n;"

## ✔️ The PADS
### Problem
Generate the following two result sets:  
  
1. Query an alphabetically ordered list of all names in OCCUPATIONS, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).  
  
2. Query the number of ocurrences of each occupation in OCCUPATIONS. Sort the occurrences in ascending order, and output them in the following format:  
There are a total of [occupation_count] [occupation]s.  
  
where [occupation_count] is the number of occurrences of an occupation in OCCUPATIONS and [occupation] is the lowercase occupation name. If more than one Occupation has the same [occupation_count], they should be ordered alphabetically.  
  
**Note**: There will be at least two entries in the table for each type of occupation.  
  
**Input Format**  
The OCCUPATIONS table is described as follows:  
![image](https://s3.amazonaws.com/hr-challenge-images/12889/1443816414-2a465532e7-1.png)  
Occupation will only contain one of the following values: Doctor, Professor, Singer or Actor.  
  
**Sample Input**  
An OCCUPATIONS table that contains the following records:  
![image](https://s3.amazonaws.com/hr-challenge-images/12889/1443816608-0b4d01d157-2.png)  
  
**Explanation**  
The results of the first query are formatted to the problem description's specifications.  
The results of the second query are ascendingly ordered first by number of names corresponding to each profession ( 2 <= 2 <= 3 <= 3 ), and then alphabetically by profession ( doctor <= singer, and actor <= professor ).  
### My answer
- concat으로 '이름(직업첫글자)'으로 합쳐서 조회
- 이름 기준 asc, 직업 기준 asc 정렬  
  
- concat으로 'There are a total of 직업별인원수 직업s'로 합쳐서 조회
- occupation은 모두 소문자로 추출되도록 lower함수 사용
- 직업별인원수 기준 asc, 직업 기준 asc 정렬

In [2]:
"""
SELECT CONCAT(name, "(", LEFT(occupation, 1), ")")
FROM occupations
ORDER BY name, occupation
;
SELECT CONCAT("There are a total of ", COUNT(occupation), " ", LOWER(occupation), "s.")
FROM occupations
GROUP BY occupation
ORDER BY COUNT(occupation), occupation
;"""

'\nSELECT CONCAT(name, "(", LEFT(occupation, 1), ")")\nFROM occupations\nORDER BY name, occupation\n;\nSELECT CONCAT("There are a total of ", COUNT(occupation), " ", LOWER(occupation), "s.")\nFROM occupations\nGROUP BY occupation\nORDER BY COUNT(occupation), occupation\n;'

## ✔️ Occupations
### Problem
Pivot the Occupation column in OCCUPATIONS so that each Name is sorted alphabetically and displayed underneath its corresponding Occupation. The output column headers should be Doctor, Professor, Singer, and Actor, respectively.  
  
**Note**: Print NULL when there are no more names corresponding to an occupation.  
  
**Input Format**  
The OCCUPATIONS table is described as follows:  
![image](https://s3.amazonaws.com/hr-challenge-images/12889/1443816414-2a465532e7-1.png)  
Occupation will only contain one of the following values: Doctor, Professor, Singer or Actor.  
  
**Sample Input**  
![image](https://s3.amazonaws.com/hr-challenge-images/12890/1443817648-1b2b8add45-2.png)  
   
**Explanation**  
The first column is an alphabetically ordered list of Doctor names.  
The second column is an alphabetically ordered list of Professor names.  
The third column is an alphabetically ordered list of Singer names.  
The fourth column is an alphabetically ordered list of Actor names.  
The empty cell data for columns with less than the maximum number of names per occupation (in this case, the Professor and Actor columns) are filled with **NULL** values.  
### My anwser
- doctor / professor / singer / actor 순으로 직업 아래에 이름이 표시되도록 피벗
- 이름에 따라 asc 정렬

In [2]:
"""
SELECT MAX(IF(occupation="Doctor", name, NULL))
    , MAX(IF(occupation="Professor", name, NULL))
    , MAX(IF(occupation="Singer", name, NULL))
    , MAX(IF(occupation="Actor", name, NULL))
FROM (SELECT name, occupation
      , ROW_NUMBER() OVER(PARTITION BY occupation ORDER BY name) AS rn
      FROM occupations) AS t
GROUP BY t.rn
;"""

'\nSELECT MAX(IF(occupation="Doctor", name, NULL))\n    , MAX(IF(occupation="Professor", name, NULL))\n    , MAX(IF(occupation="Singer", name, NULL))\n    , MAX(IF(occupation="Actor", name, NULL))\nFROM (SELECT name, occupation\n      , ROW_NUMBER() OVER(PARTITION BY occupation ORDER BY name) AS rn\n      FROM occupations) AS t\nGROUP BY t.rn\n;'

## ✔️ Binary Tree Nodes
### Problem
You are given a table, BST, containing two columns: N and P, where N represents the value of a node in Binary Tree, and P is the parent of N.  
![image](https://s3.amazonaws.com/hr-challenge-images/12888/1443818507-5095ab9853-1.png)
Write a query to find the node type of Binary Tree ordered by the value of the node. Output one of the following for each node:  
- Root: If node is root node.
- Leaf: If node is leaf node.
- Inner: If node is neither root nor leaf node.  
  
**Sample Input**  
![image](https://s3.amazonaws.com/hr-challenge-images/12888/1443818467-30644673f6-2.png)  
  
**Explanation**  
The Binary Tree below illustrates the sample:  
![image](https://s3.amazonaws.com/hr-challenge-images/12888/1443773633-f9e6fd314e-simply_sql_bst.png)
### My answer
- Binary tree( 이진 트리 ) : 비선형 자료구조
    - Root node : 부모가 없는 노드, 트리는 단 하나의 루트 노드 가짐
    - Leaf node : 자식이 없는 노드, terminal node라고도 부름
    - inner : 루트 노드도 아니고 단말 노드도 아닌 노드
- p가 null이면 root
- n이 p에 없으면 inner
- 나머지는 leaf

In [3]:
"""
SELECT n
    , CASE WHEN p IS NULL THEN 'Root'
        WHEN n NOT IN(SELECT DISTINCT p FROM BST WHERE p IS NOT NULL) THEN 'Leaf'
        ELSE 'Inner'
      END
FROM BST
ORDER BY n
;"""

"\nSELECT n\n    , CASE WHEN p IS NULL THEN 'Root'\n        WHEN n NOT IN(SELECT DISTINCT p FROM BST WHERE p IS NOT NULL) THEN 'Leaf'\n        ELSE 'Inner'\n      END\nFROM BST\nORDER BY n\n;"