## ✔️ Population Census
### Problem
Given the CITY and COUNTRY tables, query the sum of the populations of all cities where the CONTINENT is 'Asia'.  
  
**Note**: CITY.CountryCode and COUNTRY.Code are matching key columns.  
  
**Input Format**  
The CITY and COUNTRY tables are described as follows:  
![image](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)  
![image](https://s3.amazonaws.com/hr-challenge-images/8342/1449769013-e54ce90480-Country.jpg)  
### My answer
- city 테이블의 population을 sum 함수로 합하여 추출
- city의 countrycode와 country의 code를 키로 사용해서 JOIN
- continent가 asia인 데이터만 where 사용해서 필터링

In [5]:
"""
SELECT SUM(i.population)
FROM city AS i
JOIN country AS o
ON o.code = i.countrycode
WHERE o.continent = 'asia'
;"""

"\nSELECT SUM(i.population)\nFROM city AS i\nJOIN country AS o\nON o.code = i.countrycode\nWHERE o.continent = 'asia'\n;"

## ✔️ African Cities
### Problem
Given the CITY and COUNTRY tables, query the names of all cities where the CONTINENT is 'Africa'.  
  
**Note**: CITY.CountryCode and COUNTRY.Code are matching key columns.  
  
Input Format  
The CITY and COUNTRY tables are described as follows:  
![image](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)  
![image](https://s3.amazonaws.com/hr-challenge-images/8342/1449769013-e54ce90480-Country.jpg)
### My answer
- city 테이블의 name만 조회
- city의 countrycode와 country의 code를 키로 사용해서 JOIN
- continent가 africa인 데이터만 where 사용해서 필터링

In [6]:
"""
SELECT ci.name
FROM city as ci
JOIN country as co
ON ci.countrycode=co.code
WHERE co.continent = 'africa'
;"""

"\nSELECT ci.name\nFROM city as ci\nJOIN country as co\nON ci.countrycode=co.code\nWHERE co.continent = 'africa'\n;"

## ✔️ Average Population of Each Continent
### Problem
Given the CITY and COUNTRY tables, query the names of all the continents (COUNTRY.Continent) and their respective average city populations (CITY.Population) rounded down to the nearest integer.  
  
**Note**: CITY.CountryCode and COUNTRY.Code are matching key columns.  
  
**Input Format**  
The CITY and COUNTRY tables are described as follows:  
![image](https://s3.amazonaws.com/hr-challenge-images/8137/1449729804-f21d187d0f-CITY.jpg)  
![image](https://s3.amazonaws.com/hr-challenge-images/8342/1449769013-e54ce90480-Country.jpg)
### My answer
- country테이블의 continent은 null값 없이 조회
- city테이블의 countrycode와 country테이블의 code를 키로 사용해서 JOIN
- continent를 그룹화하여 population의 평균을 avg함수로 구한 다음 floor 함수를 사용해 소수점 이하 버림

In [7]:
"""
SELECT o.continent
    , FLOOR(AVG(i.population)) AS ap
FROM city AS i
JOIN country AS o
ON i.countrycode=o.code
GROUP BY o.continent
;"""

'\nSELECT o.continent\n    , FLOOR(AVG(i.population)) AS ap\nFROM city AS i\nJOIN country AS o\nON i.countrycode=o.code\nGROUP BY o.continent\n;'

## ✔️ The Report
### Problem
You are given two tables: Students and Grades. Students contains three columns ID, Name and Marks.  
![image](https://s3.amazonaws.com/hr-challenge-images/12891/1443818166-a5c852caa0-1.png)  
Grades contains the following data:  
![image](https://s3.amazonaws.com/hr-challenge-images/12891/1443818137-69b76d805c-2.png)  
Ketty gives Eve a task to generate a report containing three columns: Name, Grade and Mark. Ketty doesn't want the NAMES of those students who received a grade lower than 8. The report must be in descending order by grade -- i.e. higher grades are entered first. If there is more than one student with the same grade (8-10) assigned to them, order those particular students by their name alphabetically. Finally, if the grade is lower than 8, use "NULL" as their name and list them by their grades in descending order. If there is more than one student with the same grade (1-7) assigned to them, order those particular students by their marks in ascending order.  
Write a query to help Eve.  
**Sample Input**  
![image](https://s3.amazonaws.com/hr-challenge-images/12891/1443818093-b79f376ec1-3.png)  
**Sample Output**  
Maria 10 99  
Jane 9 81  
Julia 9 88   
Scarlet 8 78  
NULL 7 63  
NULL 7 68  
**Note**   
Print "NULL"  as the name if the grade is less than 8.  
**Explanation**  
Consider the following table with the grades assigned to the students:  
![image](https://s3.amazonaws.com/hr-challenge-images/12891/1443818026-0b3af8db30-4.png)  
So, the following students got 8, 9 or 10 grades:  
- Maria (grade 10)
- Jane (grade 9)
- Julia (grade 9)
- Scarlet (grade 8)
### My answer
- grade가 8보다 작으면 name을 null로 표시
- grade 기준 desc, name 기준 asc, marks 기준 asc 정렬
- name, grade, marks 만 조회해서 추출
- marks가 min mark와 max mark 사이에 있다는 조건을 키로 students와 grades 테이블을 join

In [8]:
"""
SELECT IF(grade<8, NULL, s.name) AS name, g.grade, s.marks
FROM students AS s
JOIN grades AS g
ON s.marks BETWEEN g.min_mark AND g.max_mark
ORDER BY g.grade DESC, s.name, s.marks
;"""

'\nSELECT IF(grade<8, NULL, s.name) AS name, g.grade, s.marks\nFROM students AS s\nJOIN grades AS g\nON s.marks BETWEEN g.min_mark AND g.max_mark\nORDER BY g.grade DESC, s.name, s.marks\n;'

## ✔️ Top Competitors
### Problem
Julia just finished conducting a coding contest, and she needs your help assembling the leaderboard! Write a query to print the respective hacker_id and name of hackers who achieved full scores for more than one challenge. Order your output in descending order by the total number of challenges in which the hacker earned a full score. If more than one hacker received full scores in same number of challenges, then sort them by ascending hacker_id.  
  
**Input Format**  
The following tables contain contest data:  
- Hackers: The hacker_id is the id of the hacker, and name is the name of the hacker.   
![image](https://s3.amazonaws.com/hr-challenge-images/19504/1458526776-67667350b4-ScreenShot2016-03-21at7.45.59AM.png)  
- Difficulty: The difficult_level is the level of difficulty of the challenge, and score is the score of the challenge for the difficulty level.   
![image](https://s3.amazonaws.com/hr-challenge-images/19504/1458526915-57eb75d9a2-ScreenShot2016-03-21at7.46.09AM.png)  
- Challenges: The challenge_id is the id of the challenge, the hacker_id is the id of the hacker who created the challenge, and difficulty_level is the level of difficulty of the challenge.  
![image](https://s3.amazonaws.com/hr-challenge-images/19504/1458527032-f9ca650442-ScreenShot2016-03-21at7.46.17AM.png)  
- Submissions: The submission_id is the id of the submission, hacker_id is the id of the hacker who made the submission, challenge_id is the id of the challenge that the submission belongs to, and score is the score of the submission.   
![image](https://s3.amazonaws.com/hr-challenge-images/19504/1458527077-298f8e922a-ScreenShot2016-03-21at7.46.29AM.png)  
  
**Sample Input**  
- Hackers Table: ![image](https://s3.amazonaws.com/hr-challenge-images/19504/1458527241-6922b4ad87-ScreenShot2016-03-21at7.47.02AM.png)  
- Difficulty Table: ![image](https://s3.amazonaws.com/hr-challenge-images/19504/1458527265-7ad6852a13-ScreenShot2016-03-21at7.46.50AM.png)  
- Challenges Table: ![image](https://s3.amazonaws.com/hr-challenge-images/19504/1458527285-01e95eb6ec-ScreenShot2016-03-21at7.46.40AM.png)  
- Submissions Table: ![image](https://s3.amazonaws.com/hr-challenge-images/19504/1458527812-479a74b99f-ScreenShot2016-03-21at8.06.05AM.png)  
  
**Sample Output**  
90411 Joe  
  
**Explanation**  
- Hacker 86870 got a score of 30 for challenge 71055 with a difficulty level of 2, so 86870 earned a full score for this challenge.
- Hacker 90411 got a score of 30 for challenge 71055 with a difficulty level of 2, so 90411 earned a full score for this challenge.
- Hacker 90411 got a score of 100 for challenge 66730 with a difficulty level of 6, so 90411 earned a full score for this challenge.
- Only hacker 90411 managed to earn a full score for more than one challenge, so we print the their hacker_id and name as  space-separated values.
### My answer
- full score인 사람만 찾기 위해 s.score와 d.score이 같은 것만 필터링
- hacker_id, name으로 그룹화해서 count(hacker_id) > 1인 것만 필터링
- submission Table에서 hacker id가 2개 이상이고 
- hacker_id, 이름만 조회
- count(challenge_id) 기준 desc, hacker_id 기준 asc 정렬

In [2]:
"""
SELECT h.hacker_id, h.name
FROM submissions AS s
INNER JOIN hackers AS h ON s.hacker_id=h.hacker_id
INNER JOIN challenges AS c ON s.challenge_id=c.challenge_id
INNER JOIN difficulty AS d ON d.difficulty_level=c.difficulty_level
WHERE s.score = d.score
GROUP BY h.hacker_id, name
HAVING COUNT(h.hacker_id) > 1
ORDER BY COUNT(s.challenge_id) DESC, h.hacker_id
;"""

'\nSELECT h.hacker_id, h.name\nFROM submissions AS s\nINNER JOIN hackers AS h ON s.hacker_id=h.hacker_id\nINNER JOIN challenges AS c ON s.challenge_id=c.challenge_id\nINNER JOIN difficulty AS d ON d.difficulty_level=c.difficulty_level\nWHERE s.score = d.score\nGROUP BY h.hacker_id, name\nHAVING COUNT(h.hacker_id) > 1\nORDER BY COUNT(s.challenge_id) DESC, h.hacker_id\n;'