## ✔️ 상품 별 오프라인 매출 구하기

### 문제
![image](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FQmmAm%2FbtrQRFXQKQi%2FHwTcJPDkEslP2vAYGMRzJ0%2Fimg.png)
### 접근
- offline_sale테이블 기준으로 product_id에 따라 product테이블을 left join
- 상품코드로 group by한 다음 판매가랑 판매량 곱해서 sum 출력
- 매출액에 따라 desc, 상품코드에 따라 asc 정렬
### 풀이

In [1]:
"""
SELECT p.product_code
    , SUM(p.price * o.sales_amount) AS sales
FROM offline_sale AS o
LEFT JOIN product AS p
ON o.product_id = p.product_id
GROUP BY p.product_code
ORDER BY sales DESC, p.product_code;
"""

'\nSELECT p.product_code\n    , SUM(p.price * o.sales_amount) AS sales\nFROM offline_sale AS o\nLEFT JOIN product AS p\nON o.product_id = p.product_id\nGROUP BY p.product_code\nORDER BY sales DESC, p.product_code;\n'

## ✔️ 있었는데요 없었습니다

### 문제
![image](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbGcsKv%2Fbtqx6ABBdhp%2F8jsoy8EFgDnOoCU7Ot2Ks1%2Fimg.png)
### 접근
- animal_ins테이블을 기준으로 animal_id에 따라 animal_outs테이블을 left join
- animal_ins테이블의 datetime이 animal_outs테이블의 datetime보다 큰 데이터만 where절로 필터링 
-> sql에서 날짜, 시간 등의 대소 비교는 시간이 더 빠를 수록 작은 값으로 판단
- animal_ins테이블의 datetime에 따라 asc 정렬
### 풀이

In [3]:
"""
SELECT i.animal_id, i.name
FROM animal_ins AS i
LEFT JOIN animal_outs AS o
ON i.animal_id = o.animal_id
WHERE i.datetime > o.datetime
ORDER BY i.datetime;
"""

'\nSELECT i.animal_id, i.name\nFROM animal_ins AS i\nLEFT JOIN animal_outs AS o\nON i.animal_id = o.animal_id\nWHERE i.datetime > o.datetime\nORDER BY i.datetime;\n'

## ✔️ 오랜 기간 보호한 동물(1)
### 문제
![image](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FoSC7g%2Fbtqx6ZCmdbR%2FZFkaYPWyjWU45PcdJw81G1%2Fimg.png)
### 접근
- animal_id를 키로 animal_ins테이블 기준으로 animal_outs테이블을 left join
- animal_outs의 animal_id이 null값인 데이터만 where로 필터링
- 오래 있었던 동물 순으로 3마리만 limit
- 보호 시작일에 따라 asc 정렬
### 풀이

In [4]:
"""
SELECT i.name, i.datetime
FROM animal_ins AS i
LEFT JOIN animal_outs AS o
ON i.animal_id = o.animal_id
WHERE o.animal_id IS NULL
ORDER BY i.datetime
limit 3;
"""

'\nSELECT i.name, i.datetime\nFROM animal_ins AS i\nLEFT JOIN animal_outs AS o\nON i.animal_id = o.animal_id\nWHERE o.animal_id IS NULL\nORDER BY i.datetime\nlimit 3;\n'

## ✔️ 조건에 맞는 도서와 저자 리스트 출력하기
### 문제
![image](https://velog.velcdn.com/images/tae__juni/post/0b3e391e-f7c9-49b1-be9b-d6700c9ec392/image.png)
### 접근
- author_id를 키로 book테이블을 기준으로 author테이블을 left join
- 카테고리가 경제인 것만 where절로 필터링
- 도서id, 저자명, 출판일만 출력 & 출판일은 date_format으로 년월일만 출력
- 출판일에 따라 asc 정렬
### 풀이

In [5]:
"""
SELECT b.book_id, a.author_name
    , DATE_FORMAT(b.published_date, '%Y-%m-%d') AS published_date
FROM book AS b
LEFT JOIN author AS a
ON b.author_id=a.author_id
WHERE b.category = "경제"
ORDER BY b.published_date;
"""

'\nSELECT b.book_id, a.author_name\n    , DATE_FORMAT(b.published_date, \'%Y-%m-%d\') AS published_date\nFROM book AS b\nLEFT JOIN author AS a\nON b.author_id=a.author_id\nWHERE b.category = "경제"\nORDER BY b.published_date;\n'

## ✔️ 없어진 기록 찾기
### 문제
![image](https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FXUivn%2FbtqBLkbEJe1%2F0ujiipfwHecyP3XYhfOdqK%2Fimg.png)
### 접근
- animal_id를 키로 animal_outs테이블 기준으로 animal_ins테이블 left join
- animal_id와 name만 추출
- animal_id에 따라 asc 정렬
- animal_ins에 animal_id가 null값만 where로 필터링
### 풀이

In [6]:

"""
SELECT o.animal_id, o.name
FROM animal_outs AS o
LEFT JOIN animal_ins AS i
ON o.animal_id = i.animal_id
WHERE i.animal_id IS NULL
ORDER BY o.animal_id;
"""

'\nSELECT o.animal_id, o.name\nFROM animal_outs AS o\nLEFT JOIN animal_ins AS i\nON o.animal_id = i.animal_id\nWHERE i.animal_id IS NULL\nORDER BY o.animal_id;\n'

## ✔️ 보호소에서 중성화한 동물
### 문제
![image](https://velog.velcdn.com/images/milk-maca/post/dbdbdf2a-6774-4c46-8728-53087f32d6eb/image.png)
### 접근
- 동물id를 키로 animal_ins테이블 기준으로 animal_outs테이블 left join
- animal_ins의 성별과 animal_outs의 성별이 다른 걸 where로 필터링
- 동물id, 동물 종, 이름만 추출
- 아이디에 따라 asc 정렬
### 풀이

In [7]:
"""
SELECT i.animal_id, i.animal_type, i.name
FROM animal_ins AS i
LEFT JOIN animal_outs AS o
ON i.animal_id = o.animal_id
WHERE i.sex_upon_intake != o.sex_upon_outcome
ORDER BY i.animal_id;
"""

'\nSELECT i.animal_id, i.animal_type, i.name\nFROM animal_ins AS i\nLEFT JOIN animal_outs AS o\nON i.animal_id = o.animal_id\nWHERE i.sex_upon_intake != o.sex_upon_outcome\nORDER BY i.animal_id;\n'

## ✔️ 그룹별 조건에 맞는 식당 목록 출력하기
### 문제
![image](https://velog.velcdn.com/images/cosmos/post/8a9922e9-cd2f-46c8-867e-bd4e31a7aa6f/image.png)
### 접근
- rest_review테이블에서 회원아이디로 그룹화해서 리뷰수로 desc 정렬 후 가장 많이 작성한 회원을 서브쿼리로 뽑은 다음, member_profile 테이블에서 동일한 회원아이디 필터링
- member_id를 키로 rest_review테이블 기준으로 member_profile테이블 left join
- member_profile에서 회원이름, rest_review에서 리뷰텍스트, 리뷰작성일 추출 & 리뷰작성일은 date_format으로 연월일만 추출
- 리뷰작성일 기준 asc, 리뷰텍스트 기준 asc 정렬
### 풀이

In [8]:
"""
SELECT m.member_name, r.review_text
    , DATE_FORMAT(r.review_date, '%Y-%m-%d') AS review_date
FROM rest_review AS r
LEFT JOIN member_profile AS m
ON r.member_id = m.member_id
WHERE m.member_id = (SELECT member_id 
                     FROM rest_review 
                     GROUP BY member_id
                     ORDER BY COUNT(r.member_id) DESC
                     LIMIT 1)
ORDER BY r.review_date, r.review_text;
"""

"\nSELECT m.member_name, r.review_text\n    , DATE_FORMAT(r.review_date, '%Y-%m-%d') AS review_date\nFROM rest_review AS r\nLEFT JOIN member_profile AS m\nON r.member_id = m.member_id\nWHERE m.member_id = (SELECT member_id \n                     FROM rest_review \n                     GROUP BY member_id\n                     ORDER BY COUNT(r.member_id) DESC\n                     LIMIT 1)\nORDER BY r.review_date, r.review_text;\n"

## ✔️ 주문량이 많은 아이스크림들 조회하기
### 문제
![image](https://velog.velcdn.com/images/psy4072/post/1831e7b6-f813-4559-b1e6-cd1ac97bc545/image.png)
### 접근
- flavor를 키로 상반기 테이블에 7월 테이블 left join
- flavor로 groupby해서 order by를 주문수 desc로 정렬
- 맛만 추출
- 상위 3개만 limit
### 풀이

In [9]:
"""
SELECT f.flavor 
FROM first_half AS f
LEFT JOIN july AS j
ON f.flavor = j.flavor
GROUP BY f.flavor
ORDER BY (f.total_order + SUM(j.total_order)) DESC
LIMIT 3;
"""

'\nSELECT f.flavor \nFROM first_half AS f\nLEFT JOIN july AS j\nON f.flavor = j.flavor\nGROUP BY f.flavor\nORDER BY (f.total_order + SUM(j.total_order)) DESC\nLIMIT 3;\n'

## ✔️ 5월 식품들의 총매출 조회하기